
body {
    background-color: #0a0705;
    color: rgba(238, 238, 236, 0.925);
    font-size: large;
    position: relative;
    overflow-x: hidden;
}

.blob {
    animation: morph 12s ease-in-out infinite;
    position: fixed;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    z-index: -1;

    background: radial-gradient(
        circle at 35% 35%,
        #eea825fd 0%,
        #ffb347 20%,
        #ff8c1a 40%,
        #b5651d 65%,
        #3d2410 85%,
        transparent 100%
    );

    filter: blur(60px);
    opacity: 0.6;
}

@keyframes morph {
    0%, 100% {
        border-radius: 52% 30% 95% 75% / 70% 60% 90% 50%;
    }
    33% {
        border-radius: 70% 40% 30% 60% / 40% 70% 50% 60%;
    }
    66% {
        border-radius: 30% 65% 70% 40% / 60% 40% 65% 45%;
    }
}

.content {
    display: flex;
    height: clamp(500px, 90vh, 600px);
    width: clamp(320px, 90vw, 800px);
}

.nav {
    width: 10%;
    height: 100%;
    padding: 20px;
    border-right: solid  rgba(221, 221, 219, 0.89);
}

.nav a {
    display: block;
    color: inherit;
}

.contentbox {
    width: 80%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

hr {
    border-color: rgba(221, 221, 219, 0.89);
}