
body {
    background-color: black;
    color: rgba(238, 238, 236, 0.925);
    font-size: large;
}

.content {
    display: flex;
    height: clamp(500px, 90vh, 600px);
    width: clamp(320px, 90vw, 800px);
}

.nav {
    width: 10%;
    height: 100%;
    padding: 20px;
    border-right: solid  rgba(221, 221, 219, 0.89);
}

.nav a {
    display: block;
    color: inherit;
}

.contentbox {
    width: 80%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

hr {
    border-color: rgba(221, 221, 219, 0.89);
}