
body {
    background-color: black;
    color: rgb(238, 240, 241);
    padding: 20px;
}


.content {
    display: flex;
    height: 800px;
}

.nav {
    background-color: #e8ecf065;
    width: 10%;
    height: 100%;
    padding: 20px;
}
.nav a {
    display: block;
    color: inherit;
}

.contentbox {
    background-color: #0f80f165;
    width: 80%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

<!-- Default page, when nothing is in the hash --->
.contentbox:not(:has(.page:target)) #about {
    display: block;
}
